@import "tailwindcss";
@import "pretendard/dist/web/static/pretendard.css";
@import "tailwind-scrollbar-hide/v4";

@layer base {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "Pretendard";
    font-weight: 100;
    line-height: 1;
    color: black;
    overflow-x: hidden;
  }
  li {
    list-style: none;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox  */
  input[type="number"] {
    -moz-appearance: textfield;
  }
}

@theme {
  --spacing: 1px;
  --radius-5: 5px;
  --radius-15: 15px;
  --text-12: 12px;
  --text-14: 14px;
  --text-16: 16px;
  --text-18: 18px;
  --text-20: 20px;
  --text-24: 24px;
  --text-32: 32px;
  --main-color: #0a400c;
  --sub-color: #819067;
  --bg-color: #f7f6ed;
}
